.*
*


!.gitignore
!.gitmodules

!.emacs
!.emacs.custom.el

!local/
!local/packages/
!local/packages/emacs
!local/packages/blender
!local/packages/homebrew
!local/packages/sbcl

.gnupg/*
!.gnupg/
!.gnupg/common.conf

!README.md

.TRASH/

!projects
