.*
*


!.gitignore
!.gitmodules

!.emacs
!.emacs.custom.el

!local/
!local/packages/
!local/packages/emacs
!local/packages/blender
!local/packages/homebrew
!local/packages/sbcl

!README.md

.TRASH/

!projects
